@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900;1000&display=swap');

body {
    background: #fafbfb;
    font-family: nunito;
}

label {
    font-weight: bold;
}


/* FOOTER STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
    position: fixed;
    right: 0;
    bottom: 50px;
    display: flex;
    align-items: center;
    padding: 5px;
    z-index: 1;
}

.page-footer a {
    display: flex;
    margin-left: 4px;
}

.card {
    transition: transform 0.5s;
    position: relative; /* Adicione essa propriedade */
}

.card:hover {
    transform: scale(1.05);
    z-index: 1; /* Defina um valor maior para o z-index no hover */
}

/* Defina a animação */
@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-slide-in {
    animation: slide-in 1s ease-out;
}